<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDasyirx4z9odGomVQCulF94x7p44ykQtw</string>
	<key>GCM_SENDER_ID</key>
	<string>974684756572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthRiverpod</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-riverpod-8db86</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-riverpod-8db86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974684756572:ios:c102f1161cc65493572499</string>
</dict>
</plist>